body {
    padding: 0;
    margin: 0;
    font-family: 'Century Schoolbook', serif;
    background-color: #ded1bc; /* Main theme/background color */
    background-size: cover;
    background-position: center;
    color: #292929; /* Text color */
}

#menu {
    font-size:50px;
    color: #ce473e;
    text-align:center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-top: 40vh; /* Add some margin to separate from content */
}

#menu:hover {
    cursor: pointer;
    color: #FFF
}

#container table {
    width:80%;
}

.main_container h1 {
    font-size:60px;
    color: #ce473e;
    text-align:center;
}
.main_container p {
    font-size:21px;
}

.main_container {
    width:100vw;
    background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("/bvbavandamme2.jpeg") center center;
    background-size:cover;
    height:100vh;
    overflow:hidden;
}

#middle {
    text-align:center;
    padding-bottom:5vh;
    margin: 20px 0;
}

#middle table {
    width:30%;
    margin:6vh auto;
}

.social {
    color: #fff;
    font-size: 50px; /* Adjust font size for Font Awesome icons */
    border-radius: 50%;
    transition: color 0.4s ease-in-out; /* Transition color change on hover */
    margin: 0 8px;
}

.social img {
    width: 70px; /* Set width for the Vi.be logo image */
    height: 40px; /* Set height for the Vi.be logo image */
    transition: opacity 0.4s ease-in-out;
}

.social:hover,
.social:hover img {
    cursor: pointer;
    color: #000; /* Change color to black on hover */
}

.social:hover img {
    content:url("vibe-logo-black.png"); /* Vi.be logo on hover */
}


/* CONTACT PAGE */

iframe {
    width: 100% !important; /* Set width to 80% */
    height: 80vh; /* Set height to 80% of viewport height */
    border: none;
}


.container_contact {
    padding:0;
    margin:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:none;
}

.container_contact div {
    font-size: 40px;
    margin: 20px 20px;
    transition: 0.4s ease-in-out;
    color: #ce473e;
}

.container_contact div:hover {
    cursor: pointer;
    color: #FFF
}

@media only screen and (max-width: 768px) {
    .main_container h1 {
        font-size:50px;
    }

    #menu {
        font-size:40px;
    }
}